* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(23, 32, 49);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.canvas {
    background-color: rgb(38, 53, 80);
}
.score {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: white;
    margin: 30px;
}